*
{
	margin: 0;
	padding: 0;
}


html,body
{
	width: 100%;
	height: 100%;
}

body
{

	font-family: arial;
	background-size: cover;
	background: url(https://cdn4.vectorstock.com/i/1000x1000/64/53/landscape-at-morning-for-game-background-vector-14966453.jpg);
}

.container
{
	padding-top: 1px;
}

.main_container
{
	width: 550px;
	height: 500px;
	background-size: cover;
	background: url(https://lumiere-a.akamaihd.net/v1/images/sa_pixar_virtualbg_toystory_16x9_8461039f.jpeg);
	margin: auto;
	margin-top: 30px;
	border-radius: 10px;
	box-shadow: 0px 0px 10px rgba(0, 0, 100, 0.4);
}

.score_bar_container
{
	width: 100%;
	height: 80px;
	border-radius: 10px 10px 0 0;
	box-shadow: 0px 0px 10px rgba(0, 0, 100, 0.5);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.score_div
{
	width: 100px;
	background-color: #ff4e00;
	background-image: linear-gradient(315deg, #ff4e00 0%, #ec9f05 74%);
	margin-left: 40px;
	padding: 10px;
	border-radius: 5px;
	text-align: center;
	font-weight: bold;
	color: #fff;
}


.timer
{
	width: 100px;
	background-color: #ff4e00;
	background-image: linear-gradient(315deg, #ff4e00 0%, #ec9f05 74%);
	margin-right: 40px;
	padding: 10px;
	border-radius: 5px;
	text-align: center;
	font-weight: bold;
	color: #fff;
}

.main_game_container
{
	width: 100%;
	padding-top: 30px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.images
{
	width: 100px;
	height: 100px;
	background-color: #6b0f1a;
	background-image: linear-gradient(315deg, #6b0f1a 0%, #b91372 74%);
	margin: 10px;
	border-radius: 5px;
	overflow: hidden;
	cursor: pointer;
}

.images img
{
	width: 100%;
	height: 100%;
	transition: all 0.5s;
	transform: rotateY(90deg);
}



/*Button*/



button
{
	width: 100px;
	border-radius: 10px;
	padding: 10px;
	border: none;
	background-color: #ff4e00;
	background-image: linear-gradient(315deg, #ff4e00 0%, #ec9f05 74%);
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3),inset 0px 0px 10px rgba(0, 0, 0, 0.1);
	cursor: pointer;
	color: #fff;
	transition: all 0.1s;
}
button:active
{
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1),inset 0px 0px 10px rgba(0, 0, 0, 0.3);
}